.humberger-menu {
    height: 100vh;
    width: 100%;
    position: fixed;
    background-color: rgb(20, 20, 20);
    color: #fff;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar {
    /* width: 100%; */
    /* background-color: #149ddd; */
    padding: 25px;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* .profile-img {
    height: 135px;
    width: 135px;
    border-radius: 100%;
    border: 5px solid #ffffff;
}

.profile-name {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.profile-tag {
    margin-left: 20%;
    margin-right: 20%;
    background-color: #ffffff;
    margin-top: -15px;
    color: #149ddd;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} */

.social-bar {
    flex-direction: row;
    margin-top: 20px;
    /* position: relative;
    bottom: 0; */
}

.social-link {
    color: #ffffff;
    font-size: 35px;
    padding: 5px;
    margin: 5px;
    /* background: #505050; */
    border-radius: 100%;
}

.social-link:hover {
    color: #149ddd;
    padding: 10px;
    margin: 2px;
    /* background-color: #149ddd; */
    border-radius: 100%;
}

.nav-link {
    margin: 4px;
    padding: 2px;
    font-size: 30px;
    font-weight: normal;
    /* border-bottom: 2px solid #149ddd; */
}

/* .nav-link:active, .active > i,{
    color: #fff;
    background-color: #149ddd;
    font-weight:bold,
} */

